@page "/"

<Div Padding="Padding.Is5"></Div>
<Div Padding="Padding.Is4"></Div>
<Heading Size="HeadingSize.Is2" Flex="Flex.JustifyContent.Center">
    Want to rent a car to travel ? Find it now !
</Heading>

<Div Padding="Padding.Is3"></Div>
<Field Horizontal>
    <FieldBody ColumnSize="ColumnSize.Is9">
        <Addons>
            <Addon AddonType="AddonType.Body">
                <DatePicker @ref="@startDate" TValue="DateTime?" Size="Size.Medium" />
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Light" Clicked="@(()=>startDate.ToggleAsync())">
                    <Icon Name="IconName.CalendarDay" />
                </Button>
            </Addon>
        </Addons>
        <Addons>
            <Addon AddonType="AddonType.Body">
                <DatePicker @ref="@endDate" TValue="DateTime?" Size="Size.Medium" />
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Light" Clicked="@(()=>endDate.ToggleAsync())">
                    <Icon Name="IconName.CalendarDay" />
                </Button>
            </Addon>
        </Addons>
    </FieldBody>
    <FieldBody ColumnSize="ColumnSize.Is9">
        
    </FieldBody>
</Field>

@code {
    DatePicker<DateTime?> startDate;
    DatePicker<DateTime?> endDate;
}
