@page "/AddCar"
@using Microsoft.AspNetCore.Components
@using CarRentalClientServer.Models
@using CarRentalClientServer.Data

@inject ICarService carService

<h3>AddCar</h3>

<EditForm Model="@newCar" OnValidSubmit="@AddNewCar">

    <div class="form-row">
        @*<div class="form-group col-md-1">
            <label for="Id" class="form-check-label">Id </label>
            <InputNumber id="Id" class="form-control" placeholder="Number" @bind-Value="newcar.id"/>
        </div>*@
        <div class="form-group col-md-6">
            <label for="Name" class="form-check-label">First name </label>
            <InputText id="Name" class="form-control" placeholder="Make" @bind-Value="newCar.Name"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Last name </label>
            <InputText id="Model" class="form-control" placeholder="Car model" @bind-Value="newCar.Model"/>
        </div>
    </div>
   

    <DataAnnotationsValidator/> <ValidationSummary/>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>

</EditForm>


@code {
    private Car newCar = new();

    private void AddNewCar()
    {
        carService.AddCar(new Car(-1, newCar.Name, newCar.Model));
    }
}