@page "/AddVehicle"
@using Microsoft.AspNetCore.Components
@using CarRentalClientServer.Models
@using CarRentalClientServer.Data

@inject IVehicleService vehicleService
@inject NavigationManager NavigationManager

<h3>AddVehicle</h3>

<EditForm Model="@newVehicle" OnValidSubmit="@AddNewVehicle">
    <div class="form-row">
        @*<div class="form-group col-md-1">
            <label for="Id" class="form-check-label">Id </label>
            <InputNumber id="Id" class="form-control" placeholder="Number" @bind-Value="newvehicle.id"/>
        </div>*@
        <div class="form-group col-md-6">
            <label for="Name" class="form-check-label">Name</label>
            <InputText id="Name" class="form-control" placeholder="BMW M2 Competition 3.0" @bind-Value="newVehicle.Name"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Type" class="form-check-label">Type of vehicle</label>
            <InputText id="Type" class="form-control" placeholder="Sporty" @bind-Value="newVehicle.Type"/>
        </div>
        <div class="form-group col-md-6">
            <label for="PricePerday" class="form-check-label">Price per day</label>
            <InputNumber id="PricePerDay" class="form-control" placeholder="300" @bind-Value="newVehicle.PricePerDay"/>
        </div>
        <div class="form-group col-md-6">
            <label for="NumberOfSeats" class="form-check-label">Number of seats</label>
            <InputNumber id="NumberOfSeats" class="form-control" placeholder="4" @bind-Value="newVehicle.SeatsCount"/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="IsAutomatic" class="form-check-label">Automatic</label>
            <InputCheckbox id="IsAutomatic" class="form-control" @bind-Value="newVehicle.IsAutomatic"/>
        </div>
        <div class="form-group col-md-6">
            <label for="PowerKw" class="form-check-label">Power in KW</label>
            <InputNumber id="PowerKw" class="form-control" placeholder="300" @bind-Value="newVehicle.PowerKw"/>
        </div>
        <div class="form-group col-md-6">
            <label for="FuelType" class="form-check-label">Fuel type</label>
            <InputText id="FuelType" class="form-control" placeholder="Petrol" @bind-Value="newVehicle.FuelType"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Deposit" class="form-check-label">Deposit</label>
            <InputNumber id="Deposit" class="form-control" placeholder="3000" @bind-Value="newVehicle.Deposit"/>
        </div>
    </div>
    <DataAnnotationsValidator/> <ValidationSummary/>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>


@code {
    private Vehicle newVehicle = new();

    private void AddNewVehicle()
    {
        vehicleService.CreateVehicleAsync(
            newVehicle.Name, newVehicle.Type, newVehicle.PricePerDay, newVehicle.SeatsCount,
            newVehicle.IsAutomatic, newVehicle.PowerKw, newVehicle.FuelType, newVehicle.Deposit);
        
        OpenVehicles();
    }

    private void OpenVehicles()
    {
        NavigationManager.NavigateTo("/vehicles");
    }

}