@page "/AddVehicle"
@using Microsoft.AspNetCore.Components
@using CarRentalClientServer.Models
@using CarRentalClientServer.Data

@inject IVehicleService vehicleService

<h3>AddVehicle</h3>

<EditForm Model="@newVehicle" OnValidSubmit="@AddNewVehicle">
    <div class="form-row">
        @*<div class="form-group col-md-1">
            <label for="Id" class="form-check-label">Id </label>
            <InputNumber id="Id" class="form-control" placeholder="Number" @bind-Value="newvehicle.id"/>
        </div>*@
        <div class="form-group col-md-6">
            <label for="Name" class="form-check-label">Name</label>
            <InputText id="Name" class="form-control" placeholder="Make" @bind-Value="newVehicle.Name"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Type of vehicle</label>
            <InputText id="Model" class="form-control" placeholder="Vehicle model" @bind-Value="newVehicle.Type"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Price per day</label>
            <InputNumber id="Model" class="form-control" placeholder="Vehicle model" @bind-Value="newVehicle.PricePerDay"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Number of seats</label>
            <InputNumber id="Model" class="form-control" placeholder="Vehicle model" @bind-Value="newVehicle.SeatsCount"/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Automatic</label>
            <InputNumber id="Model" class="form-control" placeholder="Vehicle model" @bind-Value="newVehicle.IsAutomatic"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Power in KW</label>
            <InputNumber id="Model" class="form-control" placeholder="Vehicle model" @bind-Value="newVehicle.PowerKw"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Fuel type</label>
            <InputText id="Model" class="form-control" placeholder="Vehicle model" @bind-Value="newVehicle.FuelType"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Model" class="form-check-label">Deposit</label>
            <InputNumber id="Model" class="form-control" placeholder="Vehicle model" @bind-Value="newVehicle.Deposit"/>
        </div>
    </div>
    <DataAnnotationsValidator/> <ValidationSummary/>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>


@code {
    private Vehicle newVehicle = new();

    private void AddNewVehicle()
    {
        vehicleService.CreateVehicleAsync(new Vehicle
        {
            Id = -1,
            Name = newVehicle.Name,
            Type = newVehicle.Type,
            PricePerDay = newVehicle.PricePerDay,
            SeatsCount = newVehicle.SeatsCount,
            IsAutomatic = newVehicle.IsAutomatic,
            PowerKw = newVehicle.PowerKw,
            FuelType = newVehicle.FuelType,
            Deposit = newVehicle.Deposit
        });
    }

}