@page "/vehicles"
@using CarRentalClientServer.Models
@using CarRentalClientServer.Data

@inject IVehicleService _vehicleService
@inject NavigationManager NavigationManager

<h3>Vehicle list</h3>


<div>
     <button @onclick="@(() => OpenAddVehicle())">
            Add vehicle
        </button>
</div>

@if (VehiclesToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!VehiclesToShow.Any())
{
    <p>
        <em>No adults are in this list. Please add some.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Model</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in VehiclesToShow)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private IList<Vehicle> vehicles;
    private IList<Vehicle> VehiclesToShow;

    protected override async Task OnInitializedAsync()
    {
        var getVehiclesTask = _vehicleService.GetVehiclesAsync();
        vehicles = await getVehiclesTask;
        VehiclesToShow = vehicles;
    }

    private void OpenAddVehicle()
    {
        NavigationManager.NavigateTo("/AddVehicle");
    }

}