<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarEnd>
            <BarItem>
                <BarLink To="/">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/AvailCars">Rent now !</BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Support</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>Contact us</BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem>About us</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <Button Color="Color.Primary">Sign up</Button>
                <Button Color="Color.Secondary">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>